<section>
    <h1>Actualizar Proyecto</h1>
    <h2>{{project?.name}}</h2>
    <p>{{project?.location}}</p>
    <p>{{project?.projectType?.name}}</p>
    <form [formGroup]="updateProjectForm" method="put" (submit)="updateProject()">
        <div class="mb-3">
            <label class="form-label" for="project-estimated-cost">Costo estimado:</label>
            <input class="form-control" type="number" id="project-estimated-cost" name="project-estimated-cost" required
                formControlName="cost">
        </div>

        <div class="mb-3">
            <label class="form-label" for="project-state">Tipo:</label>
            <select class="form-select" name="project-state" id="project-state" formControlName="state">
                <option *ngFor="let state of projectStates" [value]="state.id">
                    {{state.name}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-outline-primary">
            Actualizar
        </button>
    </form>
</section>